adjustText==0.7.3
affine==2.3.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
backports.functools-lru-cache
black
bleach
bokeh==2.4.2
branca==0.4.2
Brotli==1.0.9
brotlipy
certifi==2020.6.20
cffi
charset-normalizer
click
click-plugins==1.1.1
cligj
colorama
cryptography
cycler
dash==2.1.0
dash-core-components==2.0.0
dash-extensions==0.0.69
dash-html-components==2.0.0
dash-leaflet==0.1.23
dash-table==5.0.0
dataclasses
debugpy
decorator
defusedxml
EditorConfig==0.12.3
entrypoints
et-xmlfile==1.1.0
executing
Fiona==1.8.20
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Compress==1.10.1
flit_core
folium==0.12.1.post1
fonttools

geobr==0.1.10
geobuf==1.1.1
geopandas==0.10.2
gunicorn==20.1.0
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi
joblib
jsbeautifier==1.14.0
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-service==2.4.0
more-itertools==8.12.0
munch==2.5.0
munkres==1.1.4
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
olefile
openpyxl==3.0.9
packaging
pandas
pandocfilters
parso
pathspec
patsy==0.5.2
pickleshare
Pillow
platformdirs
plotly==5.5.0
prometheus-client
prompt-toolkit
protobuf==3.19.4
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyproj
PyQt5==5.12.3
PyQt5_sip
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent
PySocks
python-dateutil
pytz
pywin32==303
pywinpty
PyYAML==6.0
pyzmq
rasterio==1.2.10
requests
Rtree
scikit-learn
scipy
seaborn==0.11.2
Send2Trash
Shapely==1.8.0
six
sniffio
snuggs==1.4.7
stack-data
statsmodels==0.13.1
tenacity==8.0.1
terminado
testpath
threadpoolctl
tomli
tornado
traitlets
typed-ast
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.0.2
win-inet-pton
zipp
